image: golang:1.23

default:
  tags:
    - docker

cache:
  paths:
    - .go/pkg/mod

variables:
  GOPATH: $CI_PROJECT_DIR/.go

stages:
  - test
  - release

run_tests:
  stage: test
  script:
    - go mod tidy
    - ls -lh data/
    - go test -v ./... | tee test_output.log
  artifacts:
    when: always
    paths:
      - test_output.log
    expire_in: 1 week

create_release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: 'Automatic release from CI/CD pipeline'
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_SHA'